		@import url('https://fonts.googleapis.com/css?family=Marmelad|Open+Sans&display=swap');

		main {
			font-family: "Open Sans";
    		font-size: 100%;
    		width: 70%;
    		float: left;
		}

		header {
			background-color: #FFFFFF;
			color: #00868F;
    		text-align: center;
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		height: 16.666vh;
    		font-size: 1.2em;

		}

		h1, h2 {
			font-family: 'Marmelad', sans-serif;
		}

		nav {
			font-family: 'Marmelad', sans-serif;
			font-size: 1.5em;
			background-color: #FFFFFF;
			width: 30%;
			float: left;
			padding: 10.3% 10% 0% 12%;
			line-height: 2em;
			background-image: url("../images/nav_all.png");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: 10px 0;
			min-height: 100vh;
			position: relative;
			}

		nav a {
			text-decoration: none;
			color: #00868F;
		}

		nav a:hover {
			text-decoration: none;
			color: #23344C;
		}

		#donate {
			color: #F43069;
		}	

		figure {
			float: left;
			position: relative;
			width: calc(33.333% - .5em);
			margin-left: .25em;
			margin-right: .25em;
			margin-bottom: .5em;
			font-family: 'Marmelad', sans-serif;
			font-size: 1.6em;
			text-align: center;
			overflow: hidden;
			background-color: #23344C;
			
		}

		figure:after {
			content: "";
			display: block;
			width: 100%;
			height: 0;
			padding-bottom: 100%;

		}

		figure div {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
			padding: 5%;

		}

		figure img {
			position: absolute;
			top: 0;
			left: 0;
		}

		.whitebg {
			background-color: #fff;
		}

		.testimonial {
			color: #00868F;
		}

		.calendar {
			color: #F6E3CE;
		}

		aside {
			background-color: #FFFFFF;
   			width: 100%;
		}

		img {
			display: block;
			width: 100%;
		}

		#fig-collage {
			width: 100%;
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
		}

		p {
			line-height: 1.5em;
			padding-top: 2%;
		}

		footer {
			background-color: #FFFFFF;
			color: #00868F;
    		text-align: center;
    		font-size: 1.2em;
    		height: 16.666vh;
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		padding-left: 18%;
    		padding-right: 10%
		}

		article {
			float: left;
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.textfield {
			display: inline;
			font-family: 'Marmelad', sans-serif;
			font-size: 1em;
			color: #00868F;
			width: 60%;
			text-align: center;
		}

		.button {
			font-family: 'Marmelad', sans-serif;
			font-size: 1em;
			display: inline;
			background-color: #00868F;
			color: white;
			padding: 1% 4%;
			border: none;
			border-radius: 1em;
		}

		.button:hover {
			font-family: 'Marmelad', sans-serif;
			font-size: 1em;
			display: inline;
			background-color: #23344C;
			color: white;
			padding: 1% 4%;
			border: none;
			border-radius: 1em;
		}

		.fa {
  			padding: 2.5%;
  			font-size: 1em;
  			width: 2em;
  			height: auto;
  			text-align: center;
  			text-decoration: none;
  			border-radius: 100%;
		}	
		
		.fa-facebook {
 			background: #00868F;
  			color: white;
		}

		.fa-facebook:hover {
 			background: #23344C;
  			color: white;
		}

		.clearfix:after {
    		display: block;
    		content: " ";
    		clear: both;
		}

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		/* For iphone 10 in landscape mode 			
		@media only screen and (max-width: 812px) {

			nav {
				line-height: .7em;
				width: 35%;
			}

			nav a {
				font-size: .5em;
			}

			header {
				font-size: .6em;
				min-height: 16.666;
			}

			footer {
				font-size: .6em;
				min-height: 16.666;
			}

			main {
				width: 65%;
			}

		}

		/* For larger tablets such as ipad pro in portrait mode */

		@media only screen and (max-width: 1024px) {

			main {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}

			nav {
				float: none;
				background: none;
				font-size: 1em;
				width: 100%;
				text-align: center;
				padding: 1% 1%;
				min-height: auto;
			}

			nav a {
				padding-left: .7%;
				padding-right: .7%;
			}

			header {
				background: none;
				font-size: 1.2em;
				padding: 5%;
				height: auto;
			}

			footer {
				/*background-image: url("../images/footer_mobile2.png");
				background-repeat: no-repeat;
				background-size: 100% auto;*/
				font-size: 1em;
				padding: 1%;
			}

			figure {
				width: calc(50% - 1em);
				margin-left: .5em;
				margin-right: 0em;
				margin-bottom: .5em;
				font-size: 2.2em;
			}

			figure:nth-child(4) {
				display: none;
				content: "";
			}

			figure:nth-child(6) {
				display: none;
				content: "";
			}

		}

		/* For phones and smaller tablets in portrait mode */

		@media only screen and (max-width: 640px) {
			header {
				background: none;
				font-size: .7em;
				padding: 5%;
				min-height: auto;

			}

			article {
				width: 100%;
				display: block;
				clear: all;
				float: none;
			}

			figure {
				font-size: 1.5em;
			}


		}
		