		@import url('https://fonts.googleapis.com/css?family=Marmelad|Open+Sans&display=swap');

		main {
			font-family: "Open Sans";
    		font-size: 16px;
    		width: 70%;
    		float: left;
		}

		header {
			background-color: #FFFFFF;
			color: #00868F;
    		/*padding-left: 30%;*/
    		text-align: center;
    		/*background-image: url("../images/logo_placeholder.png");
    		background-repeat: no-repeat;
    		background-size: auto 100%;
    		background-position: 11px 0;
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		min-height: 16.666vh;*/
    		font-size: 1.2em;
    		padding: 4% 4% 4% 4%;
		}

		h1, h2 {
			font-family: 'Marmelad', sans-serif;
		}

		nav {
			font-family: 'Marmelad', sans-serif;
			font-size: 1.5em;
			background-color: #FFFFFF;
			width: 30%;
			float: left;
			padding: 10.3% 10% 0% 12%;
			background-image: url("../images/nav_all.png");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: 10px 0;
			line-height: 1.95em;
			min-height: 100vh;
			}

		nav a {
			text-decoration: none;
			color: #00868F;
		}

		nav a:hover {
			text-decoration: none;
			color: #23344C;
		}

		#donate {
			color: #F43069;
		}	

		figure {
			background-color: #23344C;
			width: 31.333%;
			float: left;
			padding: 1%;
			padding-bottom: 29%;
			margin: 1%;
		}

		section {
			background-color: #FFFFFF;
			padding: 1%;
		}

		article {
			width: 32.33%;
			background-color: #ffffff;
			float: left;
			padding: 1%;
			margin: .5%;
			color: #23344C;
			text-align: center;
		}

		aside {
			background-color: #FFFFFF;
   			width: 100%;
		}

		#fig-collage {
			width: 80%;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		p {
			line-height: 1.5em;
			padding-top: 2%;
		}

		footer {
			background-color: #FFFFFF;
			color: #00868F;
			/*background-image: url("../images/footer_background.png");
   			clear: both;
   			min-height: 16.666vh;
   			display: flex;
   			justify-content: center;
    		align-items: center;
    		padding-left: 30%;
    		background-repeat: no-repeat;
    		background-size: auto 100%;
    		background-position: 11px 0;*/
    		text-align: center;
    		font-size: 1.2em;
		}

		.connect {
			padding-left: 30%;
		}

		.newsletter {
			padding-right: 30%;
		}

		.clearfix:after {
    	display: block;
    	content: " ";
    	clear: both;
		}

		* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}

		/* For iphone 10 in landscape mode 			
		@media only screen and (max-width: 812px) {

			nav a {
				font-size: 1.25em;
			}

		}

		/* For iphone 10 portrait mode */

		@media only screen and (max-width: 812px) {

			body {
				background-image: url("../images/nav_all.png");
				background-repeat: no-repeat;
				background-size: 100vh;
			}

			main {
				width: 100%;
			}

			nav {
				float: none;
				background-image: none;
				font-size: 1em;
				width: 100%;
				text-align: center;
				padding: 1% 1%;
				min-height: auto;
			}

			nav a {
				padding-left: .7%;
				padding-right: .7%;
			}

			aside {
				float: none;
				width: 100%;
			}


			header {
				background-image: none;
				font-size: .5em;
				padding: 5% 5%;
			}

			footer {
				background-image: none;
				font-size: 1em;
				padding: 1%;
			}

			figure {
				width: 48%;
				float: left;
				padding-bottom: 48%;
			}

		}
		