body {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
	font-family: Helvetica;
}

h1 {
	font-weight: 900;
}

ul {
	text-align: center;
	list-style-type: none;
}

#slogan {
	font-style: italic;
	color: #ff0000;
}
